<h2>@TextService.HallOfFame</h2>

<NameAndValueList Title="@TextService.LegWins" Runners="_LegWins" />
<NameAndValueList Title="@TextService.SocialControls" Runners="_Social" />
<NameAndValueList Title="@TextService.LeastNumberOfMistakes" Runners="_LeastNumberOfMistakes" />
<NameAndValueList Title="@TextService.MostNumberOfMistakes" Runners="_MostNumberOfMistakes" />
<NameAndValueList Title="@TextService.LeastMistakesTimewise" Runners="_LeastMistakesTimewise" Unit="s" Formatter="@(p=>p.Round(0).ToString())" ShowPlacing="true" />
<NameAndValueList Title="@TextService.MostMistakesTimewise" Runners="_MostMistakesTimewise" Unit="s" Formatter="@(p=>p.Round(0).ToString())" ShowPlacing="true" />
<NameAndValueList Title="@TextService.MostConsistant" Runners="_MostConsistant" Formatter="@(p=>p.Round(2).ToString())" ShowPlacing="true" />
<NameAndValueList Title="@TextService.LeastConsistant" Runners="_LeastConsistant" Formatter="@(p=>p.Round(2).ToString())" ShowPlacing="true" />