<Row>
  <Column>
    <FormGroup>
      <CheckBox @bind-Value="_Splits" Text="@TextService.ShowSplits" />
      <CheckBox @bind-Value="_Totals" Text="@TextService.ShowTotals" />
      <CheckBox @bind-Value="_RelativeLegTimes" Text="@TextService.ShowRelativeLegTimes" />
      <CheckBox @bind-Value="_RelativeTotalTimes" Text="@TextService.ShowRelativeTotalTimes" />
      <CheckBox @bind-Value="_Actual" Text="@TextService.ShowActualTime" />
      <CheckBox @bind-Value="_Performance" Text="@TextService.ShowPerformanceIndex" />
      <CheckBox @bind-Value="_NormalizedPerformance" Text="@TextService.ShowNormalizedPerformanceIndex" />
      <CheckBox @bind-Value="_PredictedTime" Text="@TextService.ShowPredictedLegTime" />
      <CheckBox @bind-Value="_PredictedLoss" Text="@TextService.ShowPredictedLegLoss" />
      <CheckBox @bind-Value="_Pack" Text="@TextService.ShowPack" />
      <CheckBox @bind-Value="_Distance" Text="@TextService.ShowDistance" />
      @if (Result is not null && Result.Course is not null && Result.Course.Length is not null) {
        <CheckBox @bind-Value="_KmRate" Text="@TextService.ShowMinPerKmRate" />
      }
    </FormGroup>
  </Column>
</Row>

@if (_Pack) {
  <RunnerList Runners="Result.Runners" />
  <br />
  <br />
}

<div class="table-wrapper" id="splits">
  <table>
    <tr>
      <th class="headcol">
        @if (_HiddenRunners.Count > 0) {
          <span @onclick="ShowAll">@TextService.ShowAll</span>
        }
      </th>
      <th class="control">
        <div>@TextService.Result</div>
        <div>&nbsp;</div>
      </th>
      <th class="control">
        <div>@TextService.Start</div>
        <div>&nbsp;</div>
      </th>
      @for (var i = 0; i < Result.Legs.Count; i++)
      {
        <th class="control">
          <div>@(i+1)</div>
          <div>@(Result.Legs[i].Id)</div>
          @if (_Distance)
          {
            <div>@(Result.Legs[i].Distance)</div>
          }
        </th>
      }
      <th class="control">
        <div>@TextService.Finish</div>
        <div>&nbsp;</div>
      </th>
      @if (_Performance) {
        <th>
          <br />
        </th>
      }
      @if (_PredictedLoss) {
        <th>
          @TextService.EstimatedTimeLoss
        </th>
      }
      @if (_KmRate) {
        <th>
          @TextService.MinPerKm<br />&nbsp;
        </th>
      }
    </tr>
    @foreach (var p in _VisibleRunners) {
      <tr>
        <th class="headcol">
          <div class="r">
            <div class="p">@p.Position</div>
            <div class="n">@p.GetName()</div>
            <div class="c">@p.Club</div>
            <div class="h"><span @onclick="@(() => HideRunner(p))">X</span></div>
          </div>
        </th>
        <td class="ct">
          <div>@p.FormatStatus()&nbsp;</div>
        </td>
        <td class="ct">
          <div>@p.StartTime.GetHourMinSec()&nbsp;</div>
        </td>

        @foreach (var control in p.Splits) {
          <td class="ct">
            @if (_Splits) {
              <div class="@control.PerformanceIndexAdjusted.Error()">@control.FormatLeg()&nbsp;</div>
            }
            @if (_Totals) {
              <div>@control.FormatTotal()&nbsp;</div>
            }
            @if (_RelativeLegTimes) {
              <div>@control.LegTimeBehind.FormatTime()&nbsp;</div>
            }
            @if (_RelativeTotalTimes) {
              <div>@control.TotalBehind.FormatTime()&nbsp;</div>
            }
            @if (_Actual) {
              <div>@control.ActualTime.GetHourMinSec()&nbsp;</div>
            }
            @if (_Performance) {
              <div>@control.PerformanceIndex.Round("%")&nbsp;</div>
            }
            @if (_NormalizedPerformance) {
              <div>@control.PerformanceIndexAdjusted.Round("%")&nbsp;</div>
            }
            @if (_PredictedTime) {
              <div>@control.PredictedLegTime.FormatTime()&nbsp;</div>
            }
            @if (_PredictedLoss) {
              <div>@control.TimeLoss.FormatTime()&nbsp;</div>
            }
            @if (_KmRate)
            {
              <div>@control.KmRate.DecimalMinuteToNormalMinute()&nbsp;</div>
            }
            @if (_Pack) {
              <div>
                @if (control.Pack is not null) {
                  foreach (var person in control.Pack) {
                    <div class="@ViewHelperService.Pack(person.Delta)">
                      @($"{ViewHelperService.GetAbbrivation(person.GetName())} {person.Delta.FormatTime()}s")
                    </div>
                  }
                }
              </div>
            }
          </td>
        }
        @if (p.Splits == null || p.Splits.Count < 1) {
          <td>&nbsp;</td>
        }
        @if (_Performance) {
          <td>@p.PerformanceIndex.Round("%")</td>
        }
        @if (_PredictedLoss) {
          <td>@p.TimeLoss.FormatTime()</td>
        }
        @if (_KmRate) {
          <td>@((p.KmRate * 60).FormatTime())</td>
        }
      </tr>
    }
  </table>
</div>