<FormGroup>
  <label>@TextService.Reference:</label>
  <select @onchange="UpdateReference" class="form-control">
    <option value="fastest">-- @TextService.Fastest --</option>
    @foreach (var option in Result.Runners ?? new()) {
      <option value="@option.GetName()">@option.GetName()</option>
    }
    <option value="superman">-- @TextService.Superman --</option>
  </select>
</FormGroup>

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
  <canvas id="myChart"></canvas>
</div>

<div id="legend-container"></div>
