@using MB.EventResults.Blazor.Client.Components.Graphs;
<Page>
  <PageSection>
    <PageTitleContainer Title="Results" Byline="@($"{TextService.AsOf}: {_EventDate?.ToReadableDate()}")" />
    <PageContentContainer>
      <Row>
        <Column>
          <FormGroup>
            <label>@TextService.Class:</label>
            <select @onchange="SelectClass" class="form-control">
              @foreach (var option in _Grades ?? new()) {
                <option value="@option.Name">@option.Name</option>
              }
            </select>
          </FormGroup>
        </Column>
        @if (_SelectedEventResult is not null) {
          <Column>
            <FormGroup>
              <label>@TextService.ReportType:</label>
              <select @bind="_GraphType" class="form-control">
                @foreach (var option in _Options) {
                  <option value="@option">@option</option>
                }
              </select>
            </FormGroup>
          </Column>
        }
      </Row>
      @if (_SelectedEventResult is not null) {
        if (_GraphType == GraphType.Table) {
          <Matrix Result="_SelectedEventResult" />
        } else if (_GraphType == MistakeGraphService.Label) {
          <Mistake Result="_SelectedEventResult" />
        } else if (_GraphType == MistakeTotalGraphService.Label) {
          <MistakeTotal Result="_SelectedEventResult" />
        } else if (_GraphType == PackGraphService.Label) {
          <Pack Result="_SelectedEventResult" />
        } else if (_GraphType == PerformanceIndexGraphService.Label) {
          <PerformanceIndex Result="_SelectedEventResult" />
        } else if (_GraphType == PerformanceIndexHistogramGraphService.Label) {
          <PerformanceIndexHistogram Result="_SelectedEventResult" />
        } else if (_GraphType == PerformanceIndexHistogramNormalizedGraphService.Label) {
          <PerformanceIndexHistogramNormalized Result="_SelectedEventResult" />
        } else if (_GraphType == PerformanceIndexNormalizedGraphService.Label) {
          <PerformanceIndexNormalized Result="_SelectedEventResult" />
        } else if (_GraphType == PositionLegGraphService.Label) {
          <PositionLeg Result="_SelectedEventResult" />
        } else if (_GraphType == PositionTotalGraphService.Label) {
          <PositionTotal Result="_SelectedEventResult" />
        } else if (_GraphType == TimeGraphService.Label) {
          <Time Result="_SelectedEventResult" />
        } else if (_GraphType == GraphType.HeadToHead) {
          <HeadToHead Result="_SelectedEventResult" />
        } else if (_GraphType == GraphType.HallOfFame) {
          <HallOfFame Result="_SelectedEventResult" />
        } else if (_GraphType == GraphType.Data) {
          <Data Result="_SelectedEventResult" />
        } else if (_GraphType == ClassPerformanceIndexNormalizedGraphService.Label) {
          <ClassPerformanceIndexNormalized Result="_SelectedEventResult" />
        } else if (_GraphType == ClassPerformanceIndexHistogramNormalizedGraphService.Label) {
          <ClassPerformanceIndexHistogramNormalized Result="_SelectedEventResult" />
        } else if (_GraphType == ClassPerformanceIndexHistogramGraphService.Label) {
          <ClassPerformanceIndexHistogram Result="_SelectedEventResult" />
        } else if (_GraphType == ClassPerformanceIndexGraphService.Label) {
          <ClassPerformanceIndex Result="_SelectedEventResult" />
        } else if (_GraphType == ClassMistakeTotalGraphService.Label) {
          <ClassMistakeTotal Result="_SelectedEventResult" />
        }
      }
    </PageContentContainer>
    <Loading Show="_Loading"></Loading>
  </PageSection>
</Page>

<HeadContent>
  <link href="/mb-eventresults-blazor-client/css/additional.css" rel="stylesheet">
  <link href="/mb-eventresults-blazor-client/css/main.css" rel="stylesheet">
  <link href="/mb-eventresults-blazor-client/css/style.css" rel="stylesheet" />
  <link href="/mb-eventresults-blazor-client/css/fonts.css" rel="stylesheet" />
  <script src="/mb-eventresults-blazor-client/js/decode.js"></script>
  <script src="/mb-eventresults-blazor-client/js/brotliInterop.js"></script>
  <script src="/mb-eventresults-blazor-client/js/graphs.js"></script>
  <script src="/mb-eventresults-blazor-client/js/page.js"></script>
  <script src="/mb-eventresults-blazor-client/js/chart.min.js"></script>
</HeadContent>